/* TINYGAMES-DRAG-AND-DROP-HABITATS-GAME.HTML */
.habitats-header {
    text-align: center;
    margin-bottom: 10px;
    font-family: cursive, sans-serif;
    font-size: 1.125rem;
    color: #2e7d32;
}
.habitats-anchor {
    font-size: 26px;
    background-color: #bee8a5;
    font-weight: bold;
    margin: 0 20px 0;
    padding: 10px;
    box-shadow: 0 0 10px 5px #fff8ec;
}
.habitats-anchor:hover {
    background-color: #98d77a;
}
.habitats-image {
    width: 200px;
    border-radius: 10px;
}
.habitats-div {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex: 0 0 200px;
    box-shadow: 0 0 10px 5px #fff8ec;
    border-radius: 10px;
}
.habitats-container {
    width: 70%;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 0 20px 10px #A8DF8E;
    border-radius: 10px;
    background-image: url(../images/backgrounds/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
}
.habitats-divpara {
    font-size: 30px;
    font-family: cursive, sans-serif;
    font-weight: bold;
    color: #234;
}
.habitats-para {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    font-family: cursive, sans-serif;
    color: #234;
}
.habitats-game {
    background: linear-gradient(to bottom,#FFF8EC,#99AD7A);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.habitats-h1::before {
    content: "🐶🐈 ";
}
.habitats-h1::after {
    content: " 🐦🐬";
}

/* TINYGAMES-DRAG-AND-DROP-INDEX.HTML */
.tinygameheader {
    text-align: center;
    font-size: 1.125rem;
    font-family: cursive, sans-serif;
    margin-botom: 20px;
    font-weight: bold;
    color: #2e7d32;
}
.tinygamediv {
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.125rem;
    font-family: cursive, sans-serif;
    font-weight: bold;
    margin: 20px;
    max-height: 120px;
    flex: 0 0 450px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #FFF8EC;
    background-color: #bee8a5;
    color: #234;
}
.tinygamediv:hover {
    background-color: #98d77a;
}
.tinygamecontainer {
    /* border: 1px solid #000; */
    width: 70%;
    height: 600px;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px #A8DF8E;
    background-image: url(../images/backgrounds/mainbackground.png);
    background-size: cover;
}
.tinygames {
    background: linear-gradient(to bottom,#FFF8EC,#99AD7A);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.tinygameh1::before {
    content: "🦋 "
}
.tinygameh1::after {
    content: " 🦋"
}
/* TINYGAMES-DRAG-AND-DROP-SOUND-GAME.HTML */
.sound-header {
    text-align: center;
    margin-bottom: 10px;
    font-family: cursive, sans-serif;
    font-size: 1.125rem;
    color: #2e7d32;
}
.sound-anchor {
    font-size: 26px;
    background-color: #bee8a5;
    font-weight: bold;
    margin: 0 20px 0;
    padding: 10px;
    box-shadow: 0 0 10px 5px #fff8ec;
}
.sound-anchor:hover {
    background-color: #98d77a;
}
.sound-image {
    width: 200px;
    border-radius: 10px;
}
.sound-div {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex: 0 0 200px;
    box-shadow: 0 0 10px 5px #fff8ec;
    border-radius: 10px;
}
.sound-container {
    width: 70%;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 0 20px 10px #A8DF8E;
    border-radius: 10px;
    background-image: url(../images/backgrounds/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
}
.sound-divpara {
    font-size: 30px;
    font-family: cursive, sans-serif;
    font-weight: bold;
    color: #234;
}
.sound-para {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    font-family: cursive, sans-serif;
    color: #234;
}
.sound-game {
    background: linear-gradient(to bottom,#FFF8EC,#99AD7A);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.sound-h1::before {
    content: "🦁🐘🐮 ";
}
.sound-h1::after {
    content: " 🐶🦆🦉"
}
/* TINYGAMES-DRAG-AND-DROP-FOOD-GAME.HTML */
.food-header {
    text-align: center;
    margin-bottom: 10px;
    font-family: cursive, sans-serif;
    font-size: 1.125rem;
    color: #2e7d32;
}
.food-anchor {
    font-size: 26px;
    background-color: #bee8a5;
    font-weight: bold;
    margin: 0 20px 0;
    padding: 10px;
    box-shadow: 0 0 10px 5px #fff8ec;
}
.food-anchor:hover {
    background-color: #98d77a;
}
.food-image {
    width: 200px;
    border-radius: 10px;
}
.food-div {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex: 0 0 200px;
    box-shadow: 0 0 10px 5px #fff8ec;
    border-radius: 10px;
}
.food-container {
    width: 70%;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 0 20px 10px #A8DF8E;
    border-radius: 10px;
    background-image: url(../images/backgrounds/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
}
.food-div-para {
    font-size: 30px;
    font-family: cursive, sans-serif;
    font-weight: bold;
    color: #234;
}
.food-para {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    font-family: cursive, sans-serif;
    color: #234;
}
.food-game {
    background: linear-gradient(to bottom,#FFF8EC,#99AD7A);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.food-h1::before {
    content: "🦁🐘🐮 ";
}
.food-h1::after {
    content: " 🐶🦆🦉"
}
.para-food1::after {
    content: " 🍖";
}
.para-food2::after {
    content: " 🌿";
}
.para-food3::after {
    content: " 🌱";
}
.para-food4::after {
    content: " 🍗";
}
.para-food5::after {
    content: " 🌾";
}
.para-food6::after {
    content: " 🐭";
}
/* TINYGAMES  DRAG-AND-DROP  BABIES-GAME.HTML */
.babies-header {
    text-align: center;
    margin-bottom: 10px;
    font-family: cursive, sans-serif;
    font-size: 1.125rem;
    color: #2e7d32;
}
.babies-anchor {
    font-size: 26px;
    background-color: #bee8a5;
    font-weight: bold;
    margin: 0 20px 0;
    padding: 10px;
    box-shadow: 0 0 10px 5px #fff8ec;
}
.babies-anchor:hover {
    background-color: #98d77a;
}
.babies-image {
    width: 200px;
    border-radius: 10px;
}
.babies-div {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex: 0 0 200px;
    box-shadow: 0 0 10px 5px #fff8ec;
    border-radius: 10px;
}
.babies-container {
    width: 70%;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 0 20px 10px #A8DF8E;
    border-radius: 10px;
    background-image: url(../images/backgrounds/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
}
.div1 {
    font-size: 30px;
    font-family: cursive, sans-serif;
    font-weight: bold;
    color: #234;
}
.babies-para {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    font-family: cursive, sans-serif;
    color: #234;
}
.babies-game {
    background: linear-gradient(to bottom,#FFF8EC,#99AD7A);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.babies-h1::before {
    content: "🦁🐘🐮 ";
}
.babies-h1::after {
    content: " 🐶🦆🦉"
}
