.indexheader {
  text-align: center;
  margin-bottom: 20px;
  color: #2e7d32;
}
.indexdiv {
  max-height: 120px;
  color: #000;
  display: flex;
  flex: 0 0 250px;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  font-weight: bold;
  font-size: 1.125rem;
  border-radius: 15px;
  background: #bee8a5;
  font-family: cursive, sans-serif;
  color: #234;
  box-shadow: 0 0 10px 5px #FFF8EC;
}
.indexcontainer {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 600px;
  padding: 10px;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
  background-image: url(../images/backgrounds/mainbackground.png);
  background-size: cover;
  box-shadow: 0 0 20px 10px #A8DF8E;
  border-radius: 20px;
}
.indexbody {
  background: linear-gradient(to bottom,#FFF8EC,#99AD7A);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: cursive, sans-serif;
}

.indexdiv:hover {
  background: #98d77a;
}
.indexh2::before {
  content: "🦋";
}
.indexh22::before {
  content: "🦋";
}
.indexh1::before {
  content: "🌿 ";
}
.indexh1::after {
  content: " 🌿";
}
a {
    text-decoration: none;
}
.extra {
flex-grow: 0.5;
}
.space {
  flex-grow: 0.3;
}