@media (max-width:1024px){
    
.frame{padding:30px;}

.grid,
.grid-2,
.grid-4,
.card-grid{
    grid-template-columns:repeat(2,1fr);
}

}

/* For make table responsive */

@media (max-width: 768px) {
    table {
        width: 100%;
        table-layout: fixed;
    }
    
    th, td {
        white-space: normal; 
        word-break: break-word; 
        padding: 6px; 
        font-size: 0.85rem; 
    }
}

@media (max-width:768px){
    .header{padding:15px;}
    .brand-name{font-size:1.4rem;}
    .brand-tag{display:flex;}
    .page-title{font-size:1.8rem;}
    .subtitle{font-size:1rem;}
    .frame{padding:20px;}
    .grid,.grid-2,.grid-4,.card-grid{grid-template-columns:1fr;}
    .card{min-height:140px;}
    .back-link{ width:auto;justify-content:center;}
}


@media (max-width:450px){
.logo img{ width:38px;}
.brand-name{font-size:1.2rem;}
.page-title{font-size:1rem;}
.subtitle{font-size:0.5rem;}
.frame{padding:16px;}
.card h2{font-size:1.3rem;}

}